.dice {
    position: absolute;
    font-size: 13vh;
    top: 40vh;
    width: 11vh;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    cursor: default;

}
#console {
    position: absolute;
    font-size: 13vh;
    font-family: "Arial";
    top: 20vh;
    left:80vw;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    cursor: default;

}
