.dice {
    position: absolute;
    font-size: 11vw;
    top: 30vh;
    
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    cursor: default;
    user-select: none; 

}
#console {
    position: absolute;
    font-size: 6vw;
    font-family: "Arial";
    top: 5vh;
    left:80vw;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    cursor: default;

}
